body {
    font-family: 'Source Code Pro', monospace;
	
    background: linear-gradient(-45deg, #000000, #2c2c2c,  #000000);
	background-size: 400% 400%;
	animation: gradient 90s ease infinite;
    
	height: 100vh;
}

p {
    color: #fff;
    font-size: 1.5em;
    text-align: center;
    margin:1em;
    
    
}

.main {
    display: block;
    margin-left: 20%;
    margin-right: 20%;
    
}

.text-box {
    padding:1.2em;
    border-radius: 15px;
    
    display: block;
    z-index: -1;
    background-color: #00000060;
    backdrop-filter: blur(100px);
}

.text-align-center {
    margin-left: auto;
    margin-right: auto;
}

.heading {
    color: #fff;
    
    font-size: 2.5em;
    text-align: center;
    margin-top: 50px;
    
}
.buttons {
    text-align: center;
    margin-top: 50px;
    
    
    
}
.buttons button {
    position: relative;
    font-family: 'Source Code Pro', monospace;
    background-color: #00000060;
    z-index: 10;
    border:none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    /* backdrop-filter: blur(100px); */
}

.buttons button:hover {
    background-color: #7a7a7a80;
    
}

#about {
    height: 8em;
}

.subheading {
    font-family: 'Source Code Pro', monospace;
    color: #fff;
    font-size: 2em;
    text-align: center;
    margin:1em;
    
}

.projects-carousel-1 {
   
    padding-right: 5em;
    padding-left: 5em;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.grid-display {
    display: grid;
}

.grid-display-two-columns {
    grid-template-columns: 1fr 1fr;
}

.carousel-img {
    width: 100%;
}

.carousel-text {
    display: grid;
}

.carousel-cell h3{
    color: #fff;
    font-size: 1.5em;
}

#contact {
    display: flex;
    justify-content: center;
    
}
.contact-button {
    padding-left: 1.5vw;
    padding-right: 1.5vw;
}

.contact-img {
    height: auto;
    width: 8em;
}

#awards {
    color:white;
    text-align: left;
}

#awards ul li b {
    color:white;
    text-align: left;
    font-size: 1.2em;
}

#awards ul li p {
    color:white;
    text-align: left;
    font-size: 1em;
}



@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
    .main {
        margin: 5%;
    }

    .projects-carousel-1 {
        grid-template-columns: 1fr;
    }
  }
  